# Remix compiler artifacts
**/artifacts/
**/artifacts/**

# Remix plugin state folders
deps/
states/

# Debug info
*.dbg.json
*.tsbuildinfo

# Optional
.env
.env.local

# Node.js
node_modules/
dist/
*.log
npm-debug.log*

# Foundry
cache/
out/
broadcast/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db